{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
    <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center home-banner">Get started with training a new habbit <br> by creating a habbit card.</h2>
        </div>
    </div>
    <div class="row home-form">
        <div class="col-lg-8 col-lg-offset-2 form-group">
            <form method="POST" action="{% url 'habits:create_habit' %}">
                {% csrf_token %}
                <p>
                <input id="card-name" type="text" name="title" placeholder="15 Minutes of Daily Meditation" class="form-control text-center">
                </p>
                <div class="habit-sheet">
                    <h2 id="card_name_display" class="text-center"> 15 Minutes of Daily Meditation </h2>
                    <div id="card_days_display"></div>
                </div>
                <p class="text-center">
                    <button class="btn"> Track Online </button>
                    &nbsp;
                    <button class="btn"> Print Card  </button>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock container %}
