{% extends "base.html" %}

{% load pipeline %}
{% load crispy_forms_tags %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block container %}
<!-- Benefits of the Django application -->

<div class="container">
    <div class="row">
        <div id="habitdisplay" class="col-md-8 col-md-offset-2 text-center"></div>
    </div>
</div>

<script>
    var habit_json_url = JSON.parse('{{ habit_json_url|escapejs }}');
</script>

{% endblock container %}

{% block scripts %}
  {% javascript 'habit_detail' %}
{% endblock scripts %}
