@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

html, body{
    height:100%;		/* For full height images */
}

.footer {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 20em;
  border-top: 1px solid #eee;
}

.alert {
    margin-top: 55px;
    margin-bottom: 0;
}
